<div class="row">

	<div class="container">	
		<div class="col-md-6">
		
		<% if(messages.length>0){ %>
	    <div class="alert alert-info alert-dismissable">
	    <% for(var i in messages) { %>
            <i class="fa fa-coffee"></i>
			  <div class="flash">
				<%= messages[i] %>
			  </div>

				<% } %>
			</div>
	    <% } %>
	    
	        <div class="text-center">    	      
    	      <form class="form-horizontal" action="/searchDonors" method="post">	        	        
		        <div class="form-group">
					<label class="col-lg-4 control-label"> Blood Group: </label> 
					
					
					
					<div class="col-lg-8">
						<div class="ui-select">
							
							
							<select id="p_bg" class="form-control reg-select" name="pbg" selected="selected">
	                			<option value="" <%= formdata['pbg'] ? "" : "selected" %>>Blood Group</option>
	                			<% for(var i in bgs) { %>	                  
	                  			<option value="<%= bgs[i].name %>" <%= (formdata['pbg']=== bgs[i].name) ? "selected" : "" %>  ><%= bgs[i].name %></option>	                  
	                  			<% } %>
	                		</select>
							
						</div>
					</div>
				</div>

          		<div class="form-group">
            		<label class="col-lg-4 control-label">Patient name:</label>
            		<div class="col-lg-8">
              			<input class="form-control" type="text" value="<%= formdata.pname %>" name="pname" placeholder="Name">
            		</div>
          		</div>          
          		<div class="form-group">
            		<label class="col-lg-4 control-label">Patient Age:</label>
            		<div class="col-lg-8">
              			<input class="form-control" type="text" value="<%= formdata.page %>" name="page" placeholder="Age">
            		</div>
          		</div>          
          		<div class="form-group">
            		<label class="col-lg-4 control-label">Hospital:</label>
            		<div class="col-lg-8">
              			<input class="form-control" type="text" value="<%= formdata.phospital %>" name="phospital" placeholder="Hospital">
            		</div>
          		</div>          

          		<div class="form-group">
            		<label class="col-lg-4 control-label">Patient Location:</label>
            		<div class="col-lg-8">
            			<div class="form-group col-lg-12">
            			<label class="sr-only">Area:</label>
              			<input class="form-control" type="text" value="<%= formdata.parea %>" name="parea" placeholder="area">
              			</div>
              			
              			<div class="form-group col-lg-12">
            			<label class="sr-only">State:</label>
              			<select id="p_state" class="form-control reg-select" name="pstate" selected="selected">
	                			<option value="" <%= formdata['pstate'] ? "" : "selected" %>>Select State</option>
	                			<% for(var i in states) { %>	                  
	                  			<option value="<%= states[i].name %>" <%= (formdata['pstate']=== states[i].name) ? "selected" : "" %>  ><%= states[i].name %></option>	                  
	                  			<% } %>
	                	</select>
              			</div>
              			
              			<div class="form-group col-lg-12">
            			<label class="sr-only">City:</label>
              			<select id="p_city" class="form-control reg-select" name="pcity" selected="selected">
	                			<option value="" <%= formdata['pcity'] ? "" : "selected" %>>Select City</option>
	                			<% for(var i in cities) { %>	                  
	                  			<option value="<%= cities[i].name %>" <%= (formdata['pcity']=== cities[i].name) ? "selected" : "" %>  ><%= cities[i].name %></option>	                  
	                  			<% } %>
	                	</select>
              			</div>
              			
              			<div class="form-group col-lg-12">
            			<label class="sr-only">Pin:</label>
              			<input class="form-control" type="text" value="<%= formdata.ppin %>" name="ppin" placeholder="Pin">              			
              			</div>
            		</div>
          		</div>          
				<div class="form-group">
		            <div class="col-md-12">
    	          		<input type="submit" class="btn btn-primary" value="Search">
        	      		<span></span>
            	  		<input type="reset" class="btn btn-default" value="Reset">
            		</div>	
            	</div>        	
      		  </form>      	    	      
        	</div>
      	</div>
		
       <!--<div class="col-md-6 search-map">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
		<% for(var i in messages) { %>
			<div class="flash">
				<%= messages[i] %>
			</div>
		<% } %>

        </div>
        <div class="search-map">
        	<div class="search-map" id="map" height="200px">
        	
        	</div>
        
        </div>
        
       </div> -->

      	
    </div>
</div> 
<script src="js/searchdonor.js"></script>
<!--<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>-->
