<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/signin.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    <script src="js/searchresults.js"></script>
    <script type="text/javascript" charset="utf-8">
    
   

    
    	function loadMap(){
			//$('#map').show();
			var scity='<%= scity ? scity : '' %>',
			 sstate='<%= sstate ? sstate : '' %>',
			 sarea='<%= sarea ? sarea : '' %>',
			 spin='<%= spin ? spin : '' %>';
			 
			var donors = [];
			
			results = <%- JSON.stringify(donors) %>;
			
			var value={};
			
			for(var k=0;k<results.length;k++){
			 value = results[k];
			 if(value.curlocation.city === scity && value.curlocation.state === sstate){
			 donors.push({"name":value.name,"phone":value.phone,"pin":value.curlocation.pin,"area":value.curlocation.area,"city":value.curlocation.city,"state":value.curlocation.state});
			 }else if(value.hometown.city === scity && value.hometown.state === sstate){
			 donors.push({"name":value.name,"phone":value.phone,"pin":value.hometown.pin,"area":value.hometown.area,"city":value.hometown.city,"state":value.hometown.state});
			 }else if(value.officelocation.city === scity && value.officelocation.state === sstate){
			 donors.push({"name":value.name,"phone":value.phone,"pin":value.officelocation.pin,"area":value.officelocation.area,"city":value.officelocation.city,"state":value.officelocation.state});
			 }else{
			 donors.push({"name":value.name,"phone":value.phone,"pin":value.curlocation.pin,"area":value.curlocation.area,"city":value.curlocation.city,"state":value.curlocation.state});
			 }
			}
			
			
			
			var config = {
			results: donors,
			mapEle :'map',
			city:scity,
			state:sstate,
			area:sarea,
			pin:spin
			};
			searchresults.init(config);		
			searchresults.loadMap();
			//alert(city);
		}
    </script>
</head>

<body class="bg-backgroundmain">
<!--<header class="container-fluid text-center">
  <div class="container-fluid">
  <p>Donate blood. Save life.</p>
  </div>
</header>-->
<div class="container">

<div class="row">
<% include partials/navbar %>
</div>

<div class="row">
	<% for(var i in messages) { %>
		<div class="flash">
			<%= messages[i] %>
		</div>
	<% } %>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
        		<div class="text-center">
        		    <h3>Search Results</h3>
        		    <table class="table">
    					<thead>
      					<tr>
        					<th>Name</th>
        					<th>Email</th>
        					<th>Phone</th>
        					<th>Send Request</th>
      					</tr>
    					</thead>
    					<tbody>
          		    <% for(var i in donors) { %>	
          		    	<tr>
        					<td><%= donors[i].name %></td>
        					<td><%= donors[i].email %></td>
        					<td><%= donors[i].phone %></td>
        					<td><a href="#myModal" role="button" class="btn" data-toggle="modal">Request</a></td>
    					</tr>                      		              
		                <% } %>
        		</table>
        		
        			
					
					<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">

						
						<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h3 id="myModalLabel">Send Request to Donor(s)</h3>
								
							<form class="form-horizontal" action="/sendRequest" method="post">
					          <input type="hidden" value="" id="donors">
					          <div class="form-group">
            					<label class="col-lg-4 control-label">Description:</label>
            					<div class="col-lg-8">
              						<textarea class="form-control" name="reqdesc" placeholder="Please enter contact info and other info">
              						</textarea>
            					</div>
          					  </div>
					    		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					    		<button class="btn btn-primary">Request</button>

							</form>
						</div>
					</div>
					</div>
        		
        		</div>
        		
        		


	        </div>
	        <div class="col-md-6 search-map">     	        	
        		<div class="search-map">
        			<div class="search-map" id="map" height="200px">
        			</div>
        		</div>        
	        </div>
	        
		</div><!--row-->
	</div><!--container-->
</div><!--row-->

<div class="row">
<% include partials/footer %>
</div>

</div><!--container-->
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=loadMap"></script>
</body>
</html>