<!DOCTYPE html>
<html>
<head>
	<title>
		<%=title %>
	</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/signin.css" rel="stylesheet">
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

		<script type="text/javascript">		
$(document).ready(function() {
		//autofocus on first error field.
		$('#<%= focusele %>').focus();	
		
		//state selector.
		$("#state").on("change", function() {
		    var state = $("#state").val();	
		    var $city = $("#city")	    
		    $.ajax({
		        url: '/getCities/'+state,
		        //data: state,
		        type: "GET",
		        error: function (err) {
                	alert("An error ocurred."+err);
            	},
		        success: function(citydata) {
		        $city.find('option').remove();
		        $.each(citydata,function(i,city){
			        $city.append($("<option></option>")
	                    .attr("value",city.name)
	                    .text(city.name)); 
		            //alert(citydata);
		            });
		        }
		    });
		});
		
			
});
		</script>
</head>
<body class="bg-backgroundmain">
<div class="container">
<div class="row">
<% include partials/navbar-login-register %>
</div>

<div class="row">

	<div class="container">
		<form class="form-signin" action="/register" method="post" id="submitForm">
	    <% if(saveErrorMessages.length>0){ %>
	    <div class="alert alert-info alert-dismissable">
	    <% for(var i in saveErrorMessages) { %>
            <i class="fa fa-coffee"></i>
			  <div class="flash">
				<%= saveErrorMessages[i] %>
			  </div>

				<% } %>
			</div>
	    <% } %>


			<% if(validateErrorMessages.length>0){ %>
	    <div class="alert alert-info alert-dismissable">
	    <% for(var i in validateErrorMessages) { %>
            <i class="fa fa-coffee"></i>
			  <div class="flash">
				<%= validateErrorMessages[i].msg %>
			  </div>

				<% } %>
			</div>
	    <% } %>

        	<h2 class="form-signin-heading text-center">Sign Up</h2>

	        <div class="form-group">
	        <label for="name" class="sr-only">Full Name</label>
	        <input type="text" id="name" name="name" class="form-control" placeholder="Name *"  value="<%= formdata.name %>">
	        </div>
	        <div class="form-group">
	        <label for="username" class="sr-only">Username</label>
	        <input type="text" id="username" name="username" class="form-control" placeholder="Username *" value="<%= formdata.username %>">
	        </div>
	        <div class="form-group">
	        <label for="password" class="sr-only">Password</label>
	        <input type="password" name="password" id="password" class="form-control" placeholder="Password *" value="<%= formdata.password %>">
	        </div>
	        <div class="form-group">
	        <label for="email" class="sr-only">E-mail</label>
	        <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" value="<%= formdata.email %>">
	        </div>
					<label for="Phone" class="sr-only">Phone</label>
	        <div class="form-group">
	        <input type="txte" id="phone" name="phone" class="form-control" placeholder="Phone" value="<%= formdata.phone %>">
	        </div>
	        <div class="form-group">
	        <label for="area" class="sr-only">Area</label>
	        <input type="text" id="text" name="curlocation.area" class="form-control" placeholder="Area" value="<%= formdata['curlocation.area'] %>">
	        </div>
	        
	        <div class="form-group">
	        <label for="state" class="sr-only">State</label>
	        <!--<input type="text" id="state" name="curlocation.state" class="form-control" placeholder="State" value="<%= formdata['curlocation.state'] %>">-->
	        <div class="form-group">
	              <div class="ui-select">
	                <select id="state" class="form-control reg-select" name="curlocation.state" selected="selected">
	                <option value="" <%= formdata.state ? "" : "selected" %>>Select State</option>
	                <% for(var i in states) { %>	                  
	                  <option value="<%= states[i].name %>" <%= (formdata.state=== states[i].name) ? "selected" : "" %>  ><%= states[i].name %></option>	                  
	                  <% } %>
	                </select>
	              </div>
	            </div>
	        </div>
	        
	        <div class="form-group">
	        <label for="city" class="sr-only">City</label>
	        <!--<input type="text" id="city" name="curlocation.city" class="form-control" placeholder="City" value="<%= formdata['curlocation.city'] %>">-->
	        <div class="form-group">
	              <div class="ui-select">
	                <select id="city" class="form-control reg-select" name="curlocation.city" selected="selected">
	                <option value="" <%= formdata.city ? "" : "selected" %>>Select City</option>
	                <% for(var i in cities) { %>	                  
	                  <option value="<%= cities[i].name %>" <%= (formdata.city=== cities[i].name) ? "selected" : "" %>  ><%= cities[i].name %></option>	                  
	                  <% } %>
	                </select>
	              </div>
	            </div>
	        </div>	        
	        
	        <div class="form-group">
	        <label for="pin" class="sr-only">Pin</label>
	        <input type="text" id="pin" name="curlocation.pin" class="form-control" placeholder="Pin code" value="<%= formdata['curlocation.pin'] %>">
	        </div>	       
			<div class="form-group">
	            <label class="sr-only">Blood Group:</label>
	            <div class="form-group">
	              <div class="ui-select">
	                <select id="user_bg" class="form-control reg-select" name="donorProfile.bloodgroup" selected="selected">
	                <option value="" <%= formdata['donorProfile.bloodgroup'] ? "" : "selected" %>>Blood Group</option>
	                <% for(var i in bgs) { %>	                  
	                  <option value="<%= bgs[i].name %>" <%= (formdata['donorProfile.bloodgroup']=== bgs[i].name) ? "selected" : "" %>  ><%= bgs[i].name %></option>	                  
	                  <% } %>
	                </select>
	              </div>
	            </div>
	          </div>	       

	        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submitButton">Register</button>
      	</form>

      	<div class="row">
		    <div class="center-block text-center">
				<a href="/oauth/facebook">Login with Facebook</a>
			</div>
		</div>
    </div>
</div>

<div class="row">
<% include partials/footer %>
</div>

</div>
</body>
</html>
